
.progress-block__controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-control {
    display: flex;
    gap: 20px;
    align-items: center;
}


.progress-value__input {
    border: 1px solid #333;
    padding: 3px;
    font-size: 18px;
    text-align: center;
    border-radius: 22px;
    max-width: 50px;
}

.progress-value__input:active,
.progress-value__input:visited {
    border: 1px solid #333;
}