html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



/*progressControls*/
.progress-block__control {
    display: flex;
    flex-direction: column;
    margin: 10px;
}