@import 'reset.css';
@import "../progressBar/ui/switch/switch.css";
@import "../progressBar/ui/progressControls.css";
@import "../progressBar/ui/progressBar.css";


.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

