@import 'reset.css';
@import "../progressBar/ui/switch/switch.css";
@import "../progressBar/ui/progressControls.css";


.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.progress-block {
    min-height: 568px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.progress-ring {

}

.progress-ring-circle {
    fill: none;
    stroke: #4260cc;
    stroke-width: 10px;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s ease;
}

.progress-ring-circle.animated {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/*progressControls*/
.progress-block__control {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


@media (orientation: landscape) {
    .progress-block {
        min-height: 320px;
        min-width: 568px;
        display: flex;
        gap: 40px;
        flex-direction: row;
        justify-content: center;
    }
}

