@import 'reset.css';


.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    overflow: hidden;
}

/* Стили для старых браузеров, не поддерживающих vh */
@supports not (height: 100dvh) {
    .app {
        height: 100%;
    }
}